.content {
	padding-top: 50px;
	margin-bottom: 20px;
	background: url("../../assets/images/evaback.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
